* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-color: #29b0cb;
    line-height: 1.6;
}

header {
    background: #9b59b6;
    color: white;
    text-align: center;
    padding: 20px;
}

.banner {
    width: 100%;
    height: 200px;
}

nav {
    background: #e74c3c;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background: #222222;
}

.content {
    padding: 20px;
}

aside {
    background: #ddd;
    padding: 15px;
    border: 2px solid black;
}

.highlight {
    color: blue;
    font-weight: bold;
}

.about-bg {
    background-image: url("images/bg.jpg");
    background-size: cover;
}

.float-left {
    float: left;
    margin: 10px;
}

.float-right {
    float: right;
    margin: 10px;
}

.profile {
    width: 150px;
    border: 3px solid black;
}

.hobby {
    width: 120px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}
